.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  background-color: #032a3b;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  backdrop-filter: blur(30%);
}

.navbar-logo {
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 3%;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 3rem;
  margin: 0;
  padding: 0;
  align-items: center; 
}

.navbar-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

.navbar-buttons {
  display: flex;
  gap: 1rem;
  margin-right: 2%; 
}

.login-btn {
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.35rem;
  text-align: center;
}

.signup-btn {
  background-color: #007bff;
  color: #fff;
  border: 2px solid #007bff;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.35rem;
  text-align: center;
}

.login-btn:hover {
  background-color: #007bff;
  color: #fff;
}

.signup-btn:hover {
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
}

.navbar-links a:hover {
  color: #007bff;
}

.navbar-menu-icon {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #fff;
}

.navbar-close-icon {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #fff;
}
.navbar-small-screen-buttons{
  display: none;
}
@media (max-width: 1024px) {
  .navbar-links li a {
    font-size: 0.9rem;
  }
  .navbar-links {
    gap: 2rem;
  }

}

/* Responsive Styles */
@media (max-width: 768px) {
  .navbar-links {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    background-color: #032a3b;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    gap: 1rem;
    padding-top: 6rem;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 999; 
  }

  .navbar-links.active {
    transform: translateX(0);
  }

  .navbar-links,
  .navbar-buttons {
    display: none;
  }

  .navbar-links.active {
    display: flex;
  }

  .navbar-menu-icon {
    display: block;
    margin-right: 20px;
  }

  .navbar-close-icon {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .navbar-buttons {
    display: none;
  }

  .navbar-small-screen-buttons {
    display: flex;
    flex-direction: column;
    gap: 1.5rem; 
    margin-top: 3rem; 
  }

  .navbar-links li {
    margin-top: 1rem;
  }
}
