.home-container {
    font-family: Arial, sans-serif;
    color: #fff;
    width: 100%; 
  }
  
  .background-section {
    text-align: left;
    overflow: hidden;
    height: 600px; 
  }
  
  .background-image {
    width: 100%; 
    height: 700px; 
    object-fit: cover; 
    position: absolute;
    left: 0;
    z-index: 0;
  }
  
  .background-overlay {
    position: absolute;
    top: 350px;
    left: 5%;
    color: #032a3b;
    z-index: 1; 
  }
  
  .background-overlay h1 {
    font-size: 3.7rem;
    margin-top: -120px;
    font-weight: 700;
  }
  
  .background-overlay p {
    font-size: 1.25rem;
    margin-top: -20px;
    margin-left: 0.5%;
  }
  
  .top-search-bar {
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }
  
  .top-search-bar input {
    padding: 0.5rem 1rem; 
    width: 300px;
    border: 2px solid #032a3b;
    border-radius: 20px; 
    font-size: 1rem;
    margin-top: 30px;
    padding-right: 40px; 
    position: relative; 
  }
 
  .top-search-bar button {
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    outline: none;
    border: none;
    margin-top: 17px;
    cursor: pointer;
    z-index: 3;
  }
  .top-search-bar button:focus {
    outline: none;
  }
  
  .top-search-bar button .search-icon {
    font-size: 1.2rem;
    color: #032a3b;
    transition: color 0.3s; 
  }
  
  .top-search-bar button:hover .search-icon {
    color: #007bff; 
  }

  .Home-Screen-buttons {
    display: flex;
    gap: 1rem;
    margin-right: 2%; 
  }
  
  .ViewBook-btn{
    background-color: transparent;
    color: #032a3b;
    border: 2px solid #032a3b;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 0.35rem;
    text-align: center;
  }
  
  .AddBook-btn {
    background-color: #007bff;
    color: #fff;
    border: 2px solid #007bff;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 0.35rem;
    text-align: center;
  }
  
  .ViewBook-btn:hover {
    background-color: #007bff;
    color: #fff;
  }
  
  .AddBook-btn:hover {
    background-color: transparent;
    color: #032a3b;
    border: 2px solid #032a3b;
  }
  
  /* Form */
  .form-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 2rem 0;
    width: 100%;
    height: 150px;
    opacity: 80%;
    background-color: hsl(210, 67%, 12%);
    margin-top: -52px;
    object-fit: cover; 
    position: absolute;
    left: 0;
  }
  
  .form-section input {
    padding: 0.5rem;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .form-section button {
    background-color: #007bff;
    color: #fff;
    border: 2px solid #007bff;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 0.35rem;
    text-align: center;
    z-index: 3;
  }
  .form-section button:hover {
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #ffffff;
  }
  
  .welcome-section {
    text-align: center;
    padding: 2rem 1rem;
    margin-top: 100px;
  }
  
  .welcome-section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #032a3b;
    
  }
  
  .welcome-section p {
    font-size: 1.25rem;
    color: #032a3b;
    margin-top: -10px;
  }
  
  .categories-section {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 2rem 0;
  }
  
  .category-card {
    background-color: #032a3b;
    padding: 1.5rem;
    border-radius: 8px;
    text-align: center;
    font-size: 1.5rem;
    width: 150px;
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  .category-card:hover {
    transform: scale(1.1);
  }

  .top-categories-section {
    text-align: center;
    width: 100%;
    height: 580px;
    opacity: 80%;
    background-color: hsl(210, 67%, 12%);
    margin-top: 52px;
    object-fit: cover; 
    position: absolute;
    left: 0;
  }
  
  .top-categories-section h2 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .top-categories-section p {
    font-size: 1em;
    margin-bottom: 20px;
    padding: 10px;
  }
  
  .top-categories-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px; 
  }
  
 
  .category-Book {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 10px

  }
  
  /* .category-card img {
    width: 100%;
    height: 100%;
  }
   */
  .card-content {
    padding: 15px;
  }
  
  
  /* Responsive Styles */
  @media (max-width: 1024px) {
    .background-overlay h1 {
      font-size: 2.5rem;
    }
  
    .background-overlay p {
      font-size: 1rem;
    }
  
    .top-search-bar input {
      width: 250px;
    }
    
    .category-card {
      width: 100px;
      font-size: 1rem;
      
    }
  }
  @media (max-width: 1024px){
    .category-card {
        width: 80px;
        font-size: 1rem;
        
      }
  }
  @media (max-width: 911.5px){
    .top-categories-section {
      height: 960px;
    }

  }
  @media (max-width: 768px) {
    .background-overlay h1 {
      font-size: 2.5rem;
      margin-top: -140px;
    }
  
    .background-overlay p {
      font-size: 0.875rem;
    }
  
    .top-search-bar {
      flex-direction: column;
      align-items: center;
      margin-top: 30px;
      left: 46%;
    }
  
    .top-search-bar input{
      width: 100%;
      max-width: 300px;
      margin-top: 0.5rem;
      margin-left: -2%;
    }
    .top-search-bar button{
      right: -60px;
      top: 27%;
    } 
  
    .form-section {
      height: 200px;
      flex-direction: column;
      gap: 0.5rem;
    }
    .form-section button {
        padding: 0.5rem 5.1rem;
        margin-left: 4px;
      }
    .form-section input {
        margin-left: 4px;
      }
    .welcome-section{
        margin-top: 160px;
        /* margin-left: -6%; */
      }
  
    .categories-section {
      flex-direction: column;
      gap: 1rem;
      align-items: center;
    }
  
    .category-card {
      width: 80%;
      /* margin-left: -6%; */
    }
  }
  @media (max-width: 600px){
    .top-search-bar {
        left: 45%;
      }
      .background-overlay h1 {
        font-size: 2.2rem;
        margin-top: -160px;
      }
      /* .background-overlay{
        align-items: center;
        text-align: center;
        position: relative;
        
      }
      .background-overlay h1,
      .background-overlay p{
        
        margin-left: -18%;
        margin-top: -120px;
      }
      .ViewBook-btn,
      .AddBook-btn{
        margin-left: 12%;
      } */
    /* .welcome-section,
    .category-card{
        margin-left: -9%;
    } */
  }
  @media (max-width: 500px){
    .top-search-bar {
        left: 44%;
      }
    /* .welcome-section,
    .category-card{
        margin-left: -12%;
    } */
  }
  @media (max-width: 435.5px){
    .top-categories-section {
      height: 1700px;
    }
    .top-categories-section h2 {
      font-size: 1.7em;
    }

  }
  @media (max-width: 400px){
    .top-search-bar {
        left: 43%;
      }
    /* .welcome-section,
    .category-card{
        margin-left: -17%;
    } */
  }