.book-page {
    padding: 20px;
  }

  .Book-Top-Text{
    text-align: center;
    margin-top: 100px;
  }
  
 
  
  .search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .top-search-bar {
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }
  
  .top-search-bar input {
    padding: 0.5rem 1rem; 
    width: 300px;
    border: 2px solid #032a3b;
    border-radius: 20px; 
    font-size: 1rem;
    margin-top: 30px;
    padding-right: 40px; 
    position: relative; 
  }
 
  .top-search-bar button {
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    outline: none;
    border: none;
    margin-top: 17px;
    cursor: pointer;
    z-index: 3;
  }
  .top-search-bar button:focus {
    outline: none;
  }
  
  .top-search-bar button .search-icon {
    font-size: 1.2rem;
    color: #032a3b;
    transition: color 0.3s; 
  }
  
  .top-search-bar button:hover .search-icon {
    color: #007bff; 
  }
  .search-input {
    width: 80%;
    max-width: 600px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .book-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 30px;
  }
  .book-card {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    background-color: #f9f9f9;
    transition: transform 0.3s ease;
  }
  
  .book-card:hover {
    transform: scale(1.05); /* Adds a subtle hover effect */
  }
  
  .book-image {
    width: 100%;
    height: 200px; /* Adjust the height to fit the design */
    object-fit: cover; /* Ensures the image maintains its aspect ratio */
    border-radius: 10px;
    margin-bottom: 15px;
  }
  
  .add-book-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .add-book-button:hover {
    background-color: #87bdf8;
  }
  
  /* Additional section for more books */
  .additional-books {
    margin-top: 40px;
  }
  
  /* Responsive styles */
  @media (max-width: 1280px) {
    .book-cards {
      grid-template-columns: repeat(3, 1fr); /* Display 3 columns */
    }
  }
  
  @media (max-width: 1024px) {
    .book-cards {
      grid-template-columns: repeat(2, 1fr); /* Display 2 columns */
    }
  }
  
  @media (max-width: 800px) {
    .book-cards {
      grid-template-columns: repeat(2, 1fr); /* Display 2 columns */
      gap: 15px;
    }
  }
  
  @media (max-width: 600px) {
    .search-input {
      width: 90%;
    }
  
    .book-cards {
      grid-template-columns: 1fr; /* Display 1 column */
      gap: 10px;
    }
  
    .add-book-button {
      padding: 8px 16px;
    }
  
    .book-image {
      height: 150px; /* Adjust height for smaller screens */
    }
  }
  